:root {
    --blackish: #1f201e;
    --text-color: #F4F2F3;
    --neon: #06ff3c;
}

* {
    margin: 0;
    padding: 0;
    background-color: var(--blackish);
}

footer {
    padding: 20px;
}

/*To make it so 1 rem is 10px*/
html {
    font-size: 62.5%;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4.0rem;
    font-weight: 300;
    color: var(--text-color);
}

h5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    text-align: center;
    font-size: 1.75rem;
    font-weight: 300;
}
/* creation of header flexbox */
header nav {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color: var(--blackish);
}

header nav a {
    text-decoration: none;
    padding: 15px 20px 15px 20px;
    color: var(--text-color);
    font-family: Manrope, serif;
    font-size: 2.5rem;
    font-weight: 400;
}
/* moves the .left-link class in the nav bar to the left */
header nav .left-link {
    padding-right: 15px;
}
/* moves the .right-link class in the nav bar to the right */

header nav .right-link {
    justify-content: flex-end;
    padding-left: 15px;
}
/* avatar drawing dimensions */
img {
    max-width: 100%;
    max-height: 100%;
}

/* establishes welcome message as a flex to center it on left side */
main section .welcome-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3.75rem;
}

/* main section stylization */
main section h2,
main #about p {
    font-family: Manrope, sans-serif;
    font-size: 1.75rem;
    color: var(--text-color);
    font-weight: 300;
}
/* establishes about id as a flex to center items on page */
main #about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px 20px 50px 20px;
    flex-wrap: wrap;
}
/* establishes flexbox for welcome message and avatar image */
main #welcome {
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
    flex-wrap: wrap;
}
/* allows label for small links to stay in position to the img */
span {
    position: relative;
    bottom: 50px;
    right: -225px;
}

ul li a {
    list-style: none;
    text-decoration: none;
    color: black;
}
/* centers paragraph on site */
.about-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* big image in works stylization */
.big {
    text-align: center;
}

.big a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.75rem;
    font-weight: 300;
    color: var(--text-color);
}

.big a img {
    height: 80%;
    width: 67%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

/* stylizes h2 in about me section including adding glow effect */
.header-about-me h2 {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 300;
    text-shadow:
        0 0 9px var(--text-color),
        0 0 13px var(--text-color),
        0 0 24px var(--text-color),
        0 0 48px var(--neon),
        0 0 96px var(--neon),
        0 0 108px var(--neon),
        0 0 160px var(--neon);
}
/* establishes flex for small work items */
.small {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
    width: 70%;
    padding-bottom: 50px;
}

.small a span {
    text-decoration: none;
    font-family: Manrope, sans-serif;
    font-size: 2.0rem;
    padding: 20px;
    background-color: var(--blackish);
    color: var(--text-color);
    top: 50px;
    left: 30px;
}

.small div {
    width: 50%
}

.small a {
    text-decoration: none;
}

.small a img {
    display: inline-block;
    height: 70%;
    width: 80%;
    margin-left: 40px;
}

#about {
    padding: 20px;
    margin: 40px;
}

#about p {
    text-align: center;
    font-weight: 200;

}
/* stylizations for h3 and glow effect in contacts section */
#contact h3 {
    font-size: 2.75rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    color: var(--text-color);
    text-shadow:
        0 0 9px var(--text-color),
        0 0 13px var(--text-color),
        0 0 24px var(--text-color),
        0 0 48px var(--neon),
        0 0 96px var(--neon),
        0 0 108px var(--neon),
        0 0 160px var(--neon);
    padding-bottom: 40px;
}

#contact-list ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1 0 300;
    margin-left: 80px;
    padding-bottom: 40px;
}

#contact-list li {
    list-style: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5rem;
}

#contact-list a {
    color: var(--text-color);
    padding-bottom: 50px;
}

#work {
    margin: 40px;
    padding: 20px;
}

#work h2 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 3.2rem;
    margin-bottom: 50px;
    text-shadow:
        0 0 9px var(--text-color),
        0 0 13px var(--text-color),
        0 0 24px var(--text-color),
        0 0 48px var(--neon),
        0 0 96px var(--neon),
        0 0 108px var(--neon),
        0 0 160px var(--neon);
}

#welcome img {
    height: 500px;
    width: 500px;
}
/* allows for glow effect for links on hover */
a:hover {
    text-shadow:
        0 0 9px var(--text-color),
        0 0 13px var(--text-color),
        0 0 24px var(--text-color),
        0 0 48px var(--neon),
        0 0 96px var(--neon),
        0 0 108px var(--neon),
        0 0 160px var(--neon);
}

/* For large tablets */
@media screen and (max-width: 992px) {
    header nav {
        display: flex;
        justify-content: flex-start;
        padding: 15px;
        background-color: var(--blackish);
    }

    .small {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: auto;
        width: 110%;
        padding-bottom: 50px;
    }

}

/* For large smartphones */
@media screen and (max-width: 768px) {
    header nav {
        display: flex;
        justify-content: flex-start;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: var(--blackish);
    }

    .small {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: auto;
        width: 100%;
        padding-bottom: 50px;
    }


}

/* Small smartphones */
@media screen and (max-width: 576px) {
    header nav {
        display: flex;
        justify-content: flex-start;
        padding-top: 20px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 1.5rem;
        background-color: var(--blackish);
    }

    .small {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: auto;
        width: 100%;
        padding-bottom: 50px;

    }
    header nav a {
        text-decoration: none;
        padding: 15px 20px 15px 20px;
        color: var(--text-color);
        font-family: Manrope, serif;
        font-size: 2.0rem;
        font-weight: 400;
    }
}