:root {
    --blackish: #1f201e;
    --text-color: #F4F2F3;
    --neon: #06ff3c;
}

* {
    margin: 0;
    padding: 0;
    background-color: var(--blackish);

}

/*To make it so 1 rem is 10px*/
html {
    font-size: 62.5%;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--text-color);
    /* text-shadow:
        0 0 9px var(--text-color),
        0 0 13px var(--text-color),
        0 0 24px var(--text-color),
        0 0 48px var(--neon),
        0 0 96px var(--neon),
        0 0 108px var(--neon),
        0 0 160px var(--neon); */
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color: var(--blackish);
}

header nav a {
    text-decoration: none;
    padding: 15px 20px 15px 20px;
    color: var(--text-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
}

header nav .left-link {
    padding-right: 15px;


}

header nav .right-link {
    justify-content: flex-end;
    padding-left: 15px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

main #welcome {
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
    flex-wrap: wrap;
   
}

main section .welcome-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main section h2,
main #gabout p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    color: var(--text-color);
}

main #about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px 20px 50px 20px;
    flex-wrap: wrap;
}

ul li a {
    list-style: none;
    text-decoration: none;
    color: black;
}

#about {
    padding: 20px;
    margin: 40px;
}

.about-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about p {
    text-align: center;
    font-weight: 200;

}

.header-about-me h2 {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 300;
    text-shadow:
        0 0 9px var(--text-color),
        0 0 13px var(--text-color),
        0 0 24px var(--text-color),
        0 0 48px var(--neon),
        0 0 96px var(--neon),
        0 0 108px var(--neon),
        0 0 160px var(--neon);

}
.big li {
    list-style: none;
    text-align: center;

}
.big li a {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.75rem;
    font-weight: 300;
    color: var(--text-color);
}

.big a img {
    height: 400px;
    width: 850px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#contact h3 {
    font-size: 2.75rem;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    color: var(--text-color);
    text-shadow:
        0 0 9px var(--text-color),
        0 0 13px var(--text-color),
        0 0 24px var(--text-color),
        0 0 48px var(--neon),
        0 0 96px var(--neon),
        0 0 108px var(--neon),
        0 0 160px var(--neon);
    padding-bottom: 30px;
}

.small {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 2 1 600;
}

.small a span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.25rem;
    padding: 20px;
    background-color: bisque;

}

.small li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.small a img {
    height: 300px;
    width: 600px;

    padding: 30px;
}

#work {
    margin: 40px;
    padding: 20px;
}

#work h2 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 3.2rem;
    margin-bottom: 50px;
    text-shadow:
    0 0 9px var(--text-color),
    0 0 13px var(--text-color),
    0 0 24px var(--text-color),
    0 0 48px var(--neon),
    0 0 96px var(--neon),
    0 0 108px var(--neon),
    0 0 160px var(--neon);
}

#contact-list ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1 0 300;
    margin-left: 65px;
}

#contact-list li {
    list-style: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5rem;

}

#contact-list a {
    color: var(--text-color);
}